.navContainer {
  width: 100%;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--dropShadow-1);
}

.leftDiv {
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rightDiv {
  right: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

}



@media (max-width: 768px) {
  .rightDiv {
    display: none;
  }
}
