.mainComp {
  min-height: 400px;
  height: 100%;
  max-height: 1000px;
  /* width: 100%; */
  width: 500px;
  background-color: var(--white-1);
  padding: 16px;
  box-shadow: var(--dropShadow-1);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.linkForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* .urlInput{
  flex: 2;
  display: none;
} */
