.mainComp {
  background-image: url("/public/background.svg");
  height: 16vh;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}
.headingComp {
  display: flex;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
