.mainComp {
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addLinkComp {
  width: 600px;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.large {
  height: 50px;
  width: 500px;
  border-radius: 50px;
  background-image: var(--gradient-1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}
